@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {

  --bg: #101010;
  --text: #FDFFFF;
  --prime: #b20c06;
  --second: #212121;
  --wrapper: #2828337e;
  --trash: #871d1d;
  --check: #4bc738;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Raleway';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body {
  height: 100%;
  width: 100%;
}

input {
  border: 0;
  padding: left 10px;
  font-family: 'Raleway';
}

a {
  color: unset;
  text-decoration: none;
}

input:focus {
  border: 0;
  outline: 0;
  padding: left 10px;
}

button {
  background-color: unset;
  color: #f4f4f4;
  border: 0;
  font-family: 'Raleway';
}

button:hover {
  scale: .975;
}


button:active {
  opacity: .7;
}

.temp {
  padding: 20px;
  background-color: var(--prime);
  text-align: center;
  margin: 200px 0 0 250px;
  border-radius: 8px;
}